# STATEMENT

## Introduction to Statement in python
* Perbedaan paling mendasar dari statement di python adalah bentuk sintax nya karena tidak menggunakan ( ) sebagai check kondisi
dan { } sebagai running kondisi. Tetapi dengan menggunakan indentation.

## If, elif, else Statements

In [ ]:
nama = "Sukijan"
usia = 26
pekerjaan = "teknisi"

if usia > 24 and pekerjaan == "pengangguran":
    print(f'{nama} segera cari kerja, jangan jadi beban keluarga')
else:
    print('Selamat menikmati kehidupan')

Selamat menikmati kehidupan

In [ ]:
nama = "Sukijan"
usia = 23
pekerjaan = "pengangguran"

if usia > 24 and pekerjaan == "pengangguran":
    print(f'{nama} segera cari kerja, jangan jadi beban keluarga')
elif usia < 24 and pekerjaan == "pengangguran":
    print(f'semangat mencari pekerjaan {nama}, kamu pasti berhasil')
elif usia > 24 and pekerjaan != "pengangguran":
    print(f'{nama} , semoga anda mencintai perkejaan anda, bekerjalah sepenuh hati')
else:
    print('Selamat menikmati kehidupan')

semangat mencari pekerjaan Sukijan, kamu pasti berhasil

#### Latihan if elif else

* Buat lah kondisi seseorang yang pergi sekolah membawa payung ketika hujan
* Tidak pergi sekolah jika hujan badai
* pergi sekolah tanpa payung jika cuaca cerah

In [ ]:
nama = "ranggo"
hujan = True
hujan_badai = True

if hujan and hujan_badai :
  print(f'{nama} tidak pergi ke sekolah')
elif hujan:
  print(f'{nama} pergi ke sekolah menggunakan payung')
else :
  print(f'{nama} pergi ke sekolah')

ranggo tidak pergi ke sekolah

## for Loops

In [ ]:
# for loops di list
l = [1,2,3,4,5,6,7,8,9,10]

for num in l:
  print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
numbers = [1,2,3,4,5]
total = 0
for numb in numbers:
  total += numb
else:
  print(f'iterasi selesai jumlah total item numbers adalah {total}')
print("looping selesai")

iterasi selesai jumlah total item numbers adalah 15
looping selesai

In [ ]:
l = [1,7,13,14,5,6,7,8,9,10]

for num in l:
  if num%2 == 1 :
    print(f'{num} merupakan bilangan ganjil')
  else:
    print(f'{num} merupakan bilangan genap')

1 merupakan bilangan ganjil
7 merupakan bilangan ganjil
13 merupakan bilangan ganjil
14 merupakan bilangan genap
5 merupakan bilangan ganjil
6 merupakan bilangan genap
7 merupakan bilangan ganjil
8 merupakan bilangan genap
9 merupakan bilangan ganjil
10 merupakan bilangan genap

In [ ]:
# for loops di dictionary
d = {1:"Ikan Bakar", 2:"Ayam Balado", 3:"Rendang", 4:"Buryam"}
for key in d:
  print(key)
  print(d[key])

1
Ikan Bakar
2
Ayam Balado
3
Rendang
4
Buryam

In [ ]:
d = {1:"Ikan Bakar", 2:"Ayam Balado", 3:"Rendang", 4:"Buryam"}
d.items()

dict_items([(1, 'Ikan Bakar'), (2, 'Ayam Balado'), (3, 'Rendang'), (4, 'Buryam')])

In [ ]:
for x in d.items():
  print(x)

(1, 'Ikan Bakar')
(2, 'Ayam Balado')
(3, 'Rendang')
(4, 'Buryam')

In [ ]:
d = {1:"Ikan Bakar", 2:"Ayam Balado", 3:"Rendang", 4:"Buryam"}
for key,val in d.items():
  print(key)
  print(val)

1
Ikan Bakar
2
Ayam Balado
3
Rendang
4
Buryam

In [ ]:
# loop di tuples
fruits = ("apple", "banana", "cherry")
for fruit in fruits:
  print(fruit)

apple
banana
cherry

In [ ]:
# loop di strings
words = "welcome to kenapa coding"
for word in words:
  if word in "aiueo":
    print(word)

e
o
e
o
e
a
a
o
i

In [ ]:
# loop di sets
fruits = {"apple", "banana", "cherry", "cherry"}
for fruit in fruits:
  print(fruit)

apple
cherry
banana

## while Loops

In [ ]:
i = 0
while i < 5:
  print(f'i is still less then 5, {i}')
  i+=1

i is still less then 5, 0
i is still less then 5, 1
i is still less then 5, 2
i is still less then 5, 3
i is still less then 5, 4

In [ ]:
var = ''
while var != 'y' and var != 'n':
  var = input("Are you happy ? aswer y/n :").lower()
  if var != 'y' and var != 'n':
    print('please aswer y / n ')
  elif var == 'n':
    print('You should be happy my friend')
  else:
    print("Ok, now you should love your self too")

## match Case

In [ ]:
profesi = input("access perpustakan SMA 77 konoha, tulis profesi anda -: ").lower()
match profesi:
   case "tu":
            print("Anda memiliki akses ke lantai 1,2 dan 3")
   case "guru":
            print("Anda hanya memiliki akses ke lantai 1 dan 2")
   case "murid":
            print("Siswa/i hanya boleh berada di lantai 1")
   case _:
            print("Selain petugas dan murid dilarang masuk")

access perpustakan SMA 77 konoha, tulis profesi anda -: tu
Anda memiliki akses ke lantai 1,2 dan 3

## break, continue, pass

In [ ]:
# contoh break statement

for i in [1,2,3,4,5,6,7,8,9,10]:
    if i == 4:
        break
    print(i)

1
2
3

In [ ]:
total = 0
while total < 20:
  if total * total > 200:
    break
  print(f'total nilai sekarang adalah {total}')
  total += 1

total nilai sekarang adalah 0
total nilai sekarang adalah 1
total nilai sekarang adalah 2
total nilai sekarang adalah 3
total nilai sekarang adalah 4
total nilai sekarang adalah 5
total nilai sekarang adalah 6
total nilai sekarang adalah 7
total nilai sekarang adalah 8
total nilai sekarang adalah 9
total nilai sekarang adalah 10
total nilai sekarang adalah 11
total nilai sekarang adalah 12
total nilai sekarang adalah 13
total nilai sekarang adalah 14

In [ ]:
# contoh continue statement
for i in [1,2,3,4,5,6,7,8,9,10]:
    if i == 4:
        continue
    elif i == 7:
        continue
    print(i)
    print(f'square {i} adalah {i*i}')

1
square 1 adalah 1
2
square 2 adalah 4
3
square 3 adalah 9
5
square 5 adalah 25
6
square 6 adalah 36
8
square 8 adalah 64
9
square 9 adalah 81
10
square 10 adalah 100

In [ ]:
# contoh pass statement
for i in [1,2,3,4,5,6,7,8,9,10]:
    if i == 4:
      pass
    else:
      print(i)
    print(f'square i adalah : {i*i}')

1
square i adalah : 1
2
square i adalah : 4
3
square i adalah : 9
square i adalah : 16
5
square i adalah : 25
6
square i adalah : 36
7
square i adalah : 49
8
square i adalah : 64
9
square i adalah : 81
10
square i adalah : 100

## usefull operator
* Range
* Enumerate
* Zip
* In
* Not in
* Min
* Max
* Random
* Input


 range biasa digunakan untuk memudahkan membuat list integer, range(start,stop,step)

In [ ]:
range(0,11)

range(0, 11)

In [ ]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

Enumerate biasa digunakan di loops, biasanya untuk melakukan tracking pada loop

In [ ]:
l = ['ikan', 'ayam', 'daging', 'rendang', 'dendeng']

In [ ]:
for val in l :
  print(val)

ikan
ayam
daging
rendang
dendeng

In [ ]:
for x,val in enumerate(l):
  print(x,val)

0 ikan
1 ayam
2 daging
3 rendang
4 dendeng

In [ ]:
list(enumerate(l))

[(0, 'ikan'), (1, 'ayam'), (2, 'daging'), (3, 'rendang'), (4, 'dendeng')]

In [ ]:
for x,val in enumerate(l, start = 7):
  print(x,val)

7 ikan
8 ayam
9 daging
10 rendang
11 dendeng

Zip biasa digunakan untuk menggabungkan dua list mereturn tuple

In [ ]:
l1 = [11,2,3,4,5,7]
l2 = ['a','b','c','d','e']

In [ ]:
zip(l1,l2)

In [ ]:
list(zip(l1,l2))

[(11, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [ ]:
for item1, item2 in zip(l1,l2):
    print(f'ini item dari l1 : {item1}')
    print(f'ini item dari l2 : {item2}')

ini item dari l1 : 11
ini item dari l2 : a
ini item dari l1 : 2
ini item dari l2 : b
ini item dari l1 : 3
ini item dari l2 : c
ini item dari l1 : 4
ini item dari l2 : d
ini item dari l1 : 5
ini item dari l2 : e

in operator, selain penggunaan in untuk for loop, in juga dapat digunakan untuk mengecek apakah suatu value ada dalam sebuah iterable object(list,string, dll).

In [ ]:
'z' in ['a','b','c']

False

In [ ]:
'c' in 'zebra'

False

not in operator, digunakan untuk mengecek apakah suatu value tidak ada di dalam object iterable.

In [ ]:
't' not in ['a','b','c']

True

Min dan Max digunakan untuk mengecek minimum dan maximum dari iterable object

In [ ]:
l = [7,2,3,5,9]
min_val = 0
for i in l:
  if i < min_val:
    min_val = i
print(min_val)

0

In [ ]:
l = [7,2,3,5,9]
max(l)

9

In [ ]:
l = (7,2,3,5,9)
min(l)

2

random merupakan built in library python yang biasa digunakan untuk mengacak iterable object dan juga bisa memberi nilai random

In [ ]:
from random import shuffle

In [ ]:
l = [1,4,7,8,3,111,3,77,90]
shuffle(l)
print(l)

[8, 111, 90, 1, 7, 4, 3, 3, 77]

In [ ]:
from random import randint

In [ ]:
randint(0,55)

50

## List Comprehension
* List comprehension berfungsi sebagai penggunaan alternative dalam membuat list dengan menggunakan perulangan atau loop.